In [2]:
import pandas as pd

In [59]:
vacancies_2020 = pd.read_csv('data/vacancies_2020.csv')
vacancies_2024 = pd.read_csv('data/vacancies_2024.csv')

In [11]:
# print 3 rows with all columns for both dataframes, not just some columns
cols = vacancies_2020.columns
for col in cols:
    print(col)
    print(vacancies_2020[col].head(3))

print(vacancies_2020.info())

id
0    30711158
1    30711538
2    30713109
Name: id, dtype: int64
description
0    <p><strong>О Компании</strong></p> <p>Мы помог...
1    <p><strong>Vigrom</strong> сегодня – междунаро...
2    <p>Каждый день миллионы пользователей находят ...
Name: description, dtype: object
key_skills
0                                                  NaN
1    PHP\nSQL\nООП\nPostgreSQL\nMemcached\nSymfony\...
2                                                  NaN
Name: key_skills, dtype: object
schedule_id
0    fullDay
1    fullDay
2     remote
Name: schedule_id, dtype: object
schedule_name
0         Полный день
1         Полный день
2    Удаленная работа
Name: schedule_name, dtype: object
accept_handicapped
0    False
1    False
2     True
Name: accept_handicapped, dtype: bool
accept_kids
0    False
1    False
2    False
Name: accept_kids, dtype: bool
experience_id
0    between1And3
1    between1And3
2    noExperience
Name: experience_id, dtype: object
experience_name
0    От 1 года до 3 лет
1    От 1 года до 3 лет
2             Нет опыта
Name: experience_name, dtype: object
specializations
0    1.117 Тестирование 1 Информационные технологии...
1    1.221 Программирование, Разработка 1 Информаци...
2    4.278 Сотрудник call-центра 4 Административный...
Name: specializations, dtype: object
contacts
0    NaN
1    NaN
2    NaN
Name: contacts, dtype: object
billing_type_id
0    standard
1    standard
2    standard
Name: billing_type_id, dtype: object
billing_type_name
0    Стандарт
1    Стандарт
2    Стандарт
Name: billing_type_name, dtype: object
allow_messages
0     True
1     True
2    False
Name: allow_messages, dtype: bool
premium
0    False
1    False
2    False
Name: premium, dtype: bool
driver_license_types
0    NaN
1    NaN
2    NaN
Name: driver_license_types, dtype: object
accept_incomplete_resumes
0    False
1    False
2     True
Name: accept_incomplete_resumes, dtype: bool
employer_id
0    3034828.0
1    1110684.0
2       1740.0
Name: employer_id, dtype: float64
employer_name
0    Смарт консалтинг
1        Vigrom Corp.
2              Яндекс
Name: employer_name, dtype: object
employer_vacancies_url
0    https://api.hh.ru/vacancies?employer_id=3034828
1    https://api.hh.ru/vacancies?employer_id=1110684
2       https://api.hh.ru/vacancies?employer_id=1740
Name: employer_vacancies_url, dtype: object
employer_trusted
0    True
1    True
2    True
Name: employer_trusted, dtype: object
employer_alternate_url
0    https://hh.ru/employer/3034828
1    https://hh.ru/employer/1110684
2       https://hh.ru/employer/1740
Name: employer_alternate_url, dtype: object
employer_industries
0                  Разработка программного обеспечения
1    Интернет-компания (поисковики, платежные систе...
2    Интернет-компания (поисковики, платежные систе...
Name: employer_industries, dtype: object
response_letter_required
0    False
1    False
2    False
Name: response_letter_required, dtype: bool
type_id
0    open
1    open
2    open
Name: type_id, dtype: object
type_name
0    Открытая
1    Открытая
2    Открытая
Name: type_name, dtype: object
has_test
0    False
1    False
2    False
Name: has_test, dtype: bool
response_url
0    NaN
1    NaN
2    NaN
Name: response_url, dtype: object
test_required
0    NaN
1    NaN
2    NaN
Name: test_required, dtype: object
salary_from
0   NaN
1   NaN
2   NaN
Name: salary_from, dtype: float64
salary_to
0   NaN
1   NaN
2   NaN
Name: salary_to, dtype: float64
salary_gross
0    NaN
1    NaN
2    NaN
Name: salary_gross, dtype: object
salary_currency
0    NaN
1    NaN
2    NaN
Name: salary_currency, dtype: object
archived
0    False
1     True
2     True
Name: archived, dtype: bool
name
0          Тестировщик QA
1         PHP-разработчик
2    Оператор саll-центра
Name: name, dtype: object
insider_interview
0    NaN
1    NaN
2    NaN
Name: insider_interview, dtype: object
area_id
0     4
1    71
2     2
Name: area_id, dtype: int64
area_name
0        Новосибирск
1              Пенза
2    Санкт-Петербург
Name: area_name, dtype: object
area_url
0     https://api.hh.ru/areas/4
1    https://api.hh.ru/areas/71
2     https://api.hh.ru/areas/2
Name: area_url, dtype: object
created_at
0    2020-10-12T05:18:46+0300
1    2020-01-28T10:52:44+0300
2    2020-03-21T10:07:10+0300
Name: created_at, dtype: object
published_at
0    2020-10-12T05:18:46+0300
1    2020-01-28T10:52:44+0300
2    2020-03-21T10:07:10+0300
Name: published_at, dtype: object
address_city
0    Новосибирск
1          Пенза
2            NaN
Name: address_city, dtype: object
address_street
0    Октябрьская магистраль
1          Тамбовская улица
2                       NaN
Name: address_street, dtype: object
address_building
0      4
1    35Б
2    NaN
Name: address_building, dtype: object
address_description
0   NaN
1   NaN
2   NaN
Name: address_description, dtype: float64
address_lat
0    55.022567
1    53.173614
2          NaN
Name: address_lat, dtype: float64
address_lng
0    82.930086
1    45.005847
2          NaN
Name: address_lng, dtype: float64
alternate_url
0    https://hh.ru/vacancy/30711158
1    https://hh.ru/vacancy/30711538
2    https://hh.ru/vacancy/30713109
Name: alternate_url, dtype: object
apply_alternate_url
0    https://hh.ru/applicant/vacancy_response?vacan...
1    https://hh.ru/applicant/vacancy_response?vacan...
2    https://hh.ru/applicant/vacancy_response?vacan...
Name: apply_alternate_url, dtype: object
code
0    NaN
1    NaN
2    NaN
Name: code, dtype: object
department_id
0    NaN
1    NaN
2    NaN
Name: department_id, dtype: object
department_name
0    NaN
1    NaN
2    NaN
Name: department_name, dtype: object
employment_id
0    full
1    full
2    part
Name: employment_id, dtype: object
employment_name
0       Полная занятость
1       Полная занятость
2    Частичная занятость
Name: employment_name, dtype: object
prof_classes_found
0        tester
1    programmer
2      operator
Name: prof_classes_found, dtype: object
terms_found
0    jmeter спринт тестировщик continuous_integrati...
1    современный_офис memcache team phpunit php арх...
2                       яндекс windows_7 гибкий_график
Name: terms_found, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587637 entries, 0 to 587636
Data columns (total 56 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         587637 non-null  int64
 1   description                587637 non-null  object
 2   key_skills                 431738 non-null  object
 3   schedule_id                587637 non-null  object
 4   schedule_name              587637 non-null  object
 5   accept_handicapped         587637 non-null  bool
 6   accept_kids                587637 non-null  bool
 7   experience_id              587637 non-null  object
 8   experience_name            587637 non-null  object
 9   specializations            587637 non-null  object
 10  contacts                   12130 non-null   object
 11  billing_type_id            587637 non-null  object
 12  billing_type_name          587637 non-null  object
 13  allow_messages             587637 non-null  bool
 14  premium                    587637 non-null  bool
 15  driver_license_types       1749 non-null    object
 16  accept_incomplete_resumes  587637 non-null  bool
 17  employer_id                586477 non-null  float64
 18  employer_name              587637 non-null  object
 19  employer_vacancies_url     586477 non-null  object
 20  employer_trusted           586477 non-null  object
 21  employer_alternate_url     586477 non-null  object
 22  employer_industries        473202 non-null  object
 23  response_letter_required   587637 non-null  bool
 24  type_id                    587637 non-null  object
 25  type_name                  587637 non-null  object
 26  has_test                   587637 non-null  bool
 27  response_url               757 non-null     object
 28  test_required              2948 non-null    object
 29  salary_from                258741 non-null  float64
 30  salary_to                  164509 non-null  float64
 31  salary_gross               284072 non-null  object
 32  salary_currency            285014 non-null  object
 33  archived                   587637 non-null  bool
 34  name                       587637 non-null  object
 35  insider_interview          6570 non-null    object
 36  area_id                    587637 non-null  int64
 37  area_name                  587637 non-null  object
 38  area_url                   587637 non-null  object
 39  created_at                 587637 non-null  object
 40  published_at               587637 non-null  object
 41  address_city               276688 non-null  object
 42  address_street             271467 non-null  object
 43  address_building           262952 non-null  object
 44  address_description        0 non-null       float64
 45  address_lat                278728 non-null  float64
 46  address_lng                278728 non-null  float64
 47  alternate_url              587637 non-null  object
 48  apply_alternate_url        587637 non-null  object
 49  code                       6673 non-null    object
 50  department_id              39413 non-null   object
 51  department_name            39413 non-null   object
 52  employment_id              587637 non-null  object
 53  employment_name            587637 non-null  object
 54  prof_classes_found         576794 non-null  object
 55  terms_found                583826 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 219.7+ MB
None

In [12]:
cols = vacancies_2024.columns
for col in cols:
    print(col)
    print(vacancies_2024[col].head(3))

print(vacancies_2024.info())

Unnamed: 0
0    0
1    1
2    2
Name: Unnamed: 0, dtype: int64
id
0    93622523
1    93990706
2    94024428
Name: id, dtype: int64
premium
0    False
1    False
2    False
Name: premium, dtype: bool
name
0    Специалист по работе с данными (Excel) / Анали...
1                                         Data Analyst
2    Аналитик по обработке данных (удалённо, проект...
Name: name, dtype: object
department
0    NaN
1    NaN
2    NaN
Name: department, dtype: object
has_test
0    False
1    False
2    False
Name: has_test, dtype: bool
response_letter_required
0    False
1    False
2    False
Name: response_letter_required, dtype: bool
area
0    {'id': '1', 'name': 'Москва', 'url': 'https://...
1    {'id': '2', 'name': 'Санкт-Петербург', 'url': ...
2    {'id': '1', 'name': 'Москва', 'url': 'https://...
Name: area, dtype: object
salary
0    {'from': 170000, 'to': 170000, 'currency': 'RU...
1    {'from': 60000, 'to': 80000, 'currency': 'RUR'...
2    {'from': 80000, 'to': 80000, 'currency': 'RUR'...
Name: salary, dtype: object
type
0    {'id': 'open', 'name': 'Открытая'}
1    {'id': 'open', 'name': 'Открытая'}
2    {'id': 'open', 'name': 'Открытая'}
Name: type, dtype: object
address
0    {'city': 'Москва', 'street': 'Раменский бульва...
1                                                  NaN
2                                                  NaN
Name: address, dtype: object
response_url
0   NaN
1   NaN
2   NaN
Name: response_url, dtype: float64
sort_point_distance
0   NaN
1   NaN
2   NaN
Name: sort_point_distance, dtype: float64
published_at
0    2024-02-21T16:32:27+0300
1    2024-02-28T23:01:51+0300
2    2024-02-29T12:11:57+0300
Name: published_at, dtype: object
created_at
0    2024-02-21T16:32:27+0300
1    2024-02-28T23:01:51+0300
2    2024-02-29T12:11:57+0300
Name: created_at, dtype: object
archived
0    False
1    False
2    False
Name: archived, dtype: bool
apply_alternate_url
0    https://hh.ru/applicant/vacancy_response?vacan...
1    https://hh.ru/applicant/vacancy_response?vacan...
2    https://hh.ru/applicant/vacancy_response?vacan...
Name: apply_alternate_url, dtype: object
show_logo_in_search
0    NaN
1    NaN
2    NaN
Name: show_logo_in_search, dtype: object
insider_interview
0    NaN
1    NaN
2    NaN
Name: insider_interview, dtype: object
url
0    https://api.hh.ru/vacancies/93622523?host=hh.ru
1    https://api.hh.ru/vacancies/93990706?host=hh.ru
2    https://api.hh.ru/vacancies/94024428?host=hh.ru
Name: url, dtype: object
alternate_url
0    https://hh.ru/vacancy/93622523
1    https://hh.ru/vacancy/93990706
2    https://hh.ru/vacancy/94024428
Name: alternate_url, dtype: object
relations
0    []
1    []
2    []
Name: relations, dtype: object
employer
0    {'id': '9182604', 'name': 'ЦУГАМ', 'url': 'htt...
1    {'id': '660353', 'name': 'LoyaltyPlant', 'url'...
2    {'id': '907345', 'name': 'ЛУКОЙЛ', 'url': 'htt...
Name: employer, dtype: object
snippet
0    {'requirement': 'Знание Excel на продвинутом у...
1    {'requirement': 'Представление о работе BI инс...
2    {'requirement': 'Терпеливы, любите копаться в ...
Name: snippet, dtype: object
contacts
0   NaN
1   NaN
2   NaN
Name: contacts, dtype: float64
schedule
0        {'id': 'fullDay', 'name': 'Полный день'}
1     {'id': 'flexible', 'name': 'Гибкий график'}
2    {'id': 'remote', 'name': 'Удаленная работа'}
Name: schedule, dtype: object
working_days
0    []
1    []
2    []
Name: working_days, dtype: object
working_time_intervals
0    []
1    []
2    []
Name: working_time_intervals, dtype: object
working_time_modes
0    []
1    []
2    []
Name: working_time_modes, dtype: object
accept_temporary
0    False
1     True
2    False
Name: accept_temporary, dtype: bool
professional_roles
0                   [{'id': '10', 'name': 'Аналитик'}]
1    [{'id': '156', 'name': 'BI-аналитик, аналитик ...
2                   [{'id': '10', 'name': 'Аналитик'}]
Name: professional_roles, dtype: object
accept_incomplete_resumes
0    False
1    False
2    False
Name: accept_incomplete_resumes, dtype: bool
experience
0    {'id': 'between1And3', 'name': 'От 1 года до 3...
1          {'id': 'noExperience', 'name': 'Нет опыта'}
2          {'id': 'noExperience', 'name': 'Нет опыта'}
Name: experience, dtype: object
employment
0    {'id': 'full', 'name': 'Полная занятость'}
1    {'id': 'full', 'name': 'Полная занятость'}
2    {'id': 'full', 'name': 'Полная занятость'}
Name: employment, dtype: object
adv_response_url
0   NaN
1   NaN
2   NaN
Name: adv_response_url, dtype: float64
is_adv_vacancy
0    False
1    False
2    False
Name: is_adv_vacancy, dtype: bool
adv_context
0   NaN
1   NaN
2   NaN
Name: adv_context, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1000 non-null   int64
 1   id                         1000 non-null   int64
 2   premium                    1000 non-null   bool
 3   name                       1000 non-null   object
 4   department                 293 non-null    object
 5   has_test                   1000 non-null   bool
 6   response_letter_required   1000 non-null   bool
 7   area                       1000 non-null   object
 8   salary                     230 non-null    object
 9   type                       1000 non-null   object
 10  address                    478 non-null    object
 11  response_url               0 non-null      float64
 12  sort_point_distance        0 non-null      float64
 13  published_at               1000 non-null   object
 14  created_at                 1000 non-null   object
 15  archived                   1000 non-null   bool
 16  apply_alternate_url        1000 non-null   object
 17  show_logo_in_search        541 non-null    object
 18  insider_interview          58 non-null     object
 19  url                        1000 non-null   object
 20  alternate_url              1000 non-null   object
 21  relations                  1000 non-null   object
 22  employer                   1000 non-null   object
 23  snippet                    1000 non-null   object
 24  contacts                   0 non-null      float64
 25  schedule                   1000 non-null   object
 26  working_days               1000 non-null   object
 27  working_time_intervals     1000 non-null   object
 28  working_time_modes         1000 non-null   object
 29  accept_temporary           1000 non-null   bool
 30  professional_roles         1000 non-null   object
 31  accept_incomplete_resumes  1000 non-null   bool
 32  experience                 1000 non-null   object
 33  employment                 1000 non-null   object
 34  adv_response_url           0 non-null      float64
 35  is_adv_vacancy             1000 non-null   bool
 36  adv_context                0 non-null      float64
dtypes: bool(7), float64(5), int64(2), object(23)
memory usage: 241.3+ KB
None

In [56]:
print(vacancies_2024['employer'].head(50))
print(vacancies_2020['employer_id'].head(50))
print(vacancies_2020['employer_name'].head(50))
# check if for the same id in 2020 and 2024 the name is the same in both dataframes (parse for 2024 as it's a json)
def get_columns_from_json(df, column_name, needed_columns):
    df[column_name] = df[column_name].apply(lambda x: eval(x) if pd.notnull(x) else x)
    for i, column in enumerate(needed_columns):
        df[f'{column_name}_{column}'] = df[column_name].apply(lambda x: x[column] if pd.notnull(x) else x)
    df = df.drop(columns=[column_name])
    return df

# vacancies_2024 = get_columns_from_json(vacancies_2024, 'employer', ['id', 'name'])
# flag = True
# for i in range(len(vacancies_2020)):
#     if vacancies_2020['employer_id'][i] == vacancies_2024['employer_id'][i]:
#         if vacancies_2020['employer_name'][i] != vacancies_2024['employer_name'][i]:
#             flag = False
#             print(f'employer_id: {vacancies_2020["employer_id"][i]} - 2020: {vacancies_2020["employer_name"][i]} - 2024: {vacancies_2024["employer_name"][i]}')

0     {'id': '9182604', 'name': 'ЦУГАМ', 'url': 'htt...
1     {'id': '660353', 'name': 'LoyaltyPlant', 'url'...
2     {'id': '907345', 'name': 'ЛУКОЙЛ', 'url': 'htt...
3     {'id': '852361', 'name': 'Ростелеком - Центры ...
4     {'id': '1626408', 'name': 'Федеральное автоном...
5     {'id': '1887728', 'name': 'REVO Capital LLC', ...
6     {'id': '11632', 'name': 'DSM Group', 'url': 'h...
7     {'id': '1959760', 'name': 'Контакт Перфоманс',...
8     {'id': '2730772', 'name': 'BestDoctor', 'url':...
9     {'id': '2730772', 'name': 'BestDoctor', 'url':...
10    {'id': '6067730', 'name': '1221Системс', 'url'...
11    {'id': '5418368', 'name': 'Рекрутинговое агент...
12    {'id': '5125701', 'name': 'Премиум Импорт', 'u...
13    {'id': '124', 'name': 'Coleman Group', 'url': ...
14    {'id': '4366867', 'name': 'Афонина Анна Георги...
15    {'id': '3261800', 'name': '1СЕО', 'url': 'http...
16    {'id': '579', 'name': 'Кофемания', 'url': 'htt...
17    {'id': '1959176', 'name': 'Акира Оил', 'url': ...
18    {'id': '17222', 'name': 'МГТС', 'url': 'https:...
19    {'id': '41432', 'name': 'МЕТКОМБАНК', 'url': '...
20    {'id': '3127', 'name': 'МегаФон', 'url': 'http...
21    {'id': '1125177', 'name': 'Анемоне', 'url': 'h...
22    {'id': '856498', 'name': 'Lesta Games', 'url':...
23    {'id': '2131829', 'name': 'Brandquad', 'url': ...
24    {'id': '51119', 'name': 'Bonduelle', 'url': 'h...
25    {'id': '1672316', 'name': 'Контентим', 'url': ...
26    {'id': '41165', 'name': 'Российская Стекольная...
27    {'id': '211052', 'name': 'Аналитический центр ...
28    {'id': '211832', 'name': 'MASTERDATA', 'url': ...
29    {'id': '8911122', 'name': 'Ситимобил ООО Транс...
30    {'id': '104628', 'name': 'Газпром', 'url': 'ht...
31    {'id': '2262198', 'name': 'Ресурсный центр Деп...
32    {'id': '2451295', 'name': 'Ceramic3d', 'url': ...
33    {'id': '6074048', 'name': 'Электромобили Мануф...
34    {'id': '3635947', 'name': 'Pride Games Studio'...
35    {'id': '10745593', 'name': 'GGSel (ИП Николаев...
36    {'id': '573161', 'name': 'Everypixel group', '...
37    {'id': '2463659', 'name': 'Ай-Пласт', 'url': '...
38    {'id': '894410', 'name': 'РТЛабс', 'url': 'htt...
39    {'id': '929796', 'name': 'ГРУППА МЕГАПОЛИС', '...
40    {'id': '2324020', 'name': 'Точка', 'url': 'htt...
41    {'id': '2639497', 'name': 'АйТиКвик', 'url': '...
42    {'id': '10609102', 'name': 'Лепёхина Лилия Мин...
43    {'id': '9928318', 'name': 'Сила Народа', 'url'...
44    {'id': '2464267', 'name': 'Carely', 'url': 'ht...
45    {'id': '1258640', 'name': 'ГБУ Мосстройинформ'...
46    {'id': '2622045', 'name': 'Go Ahead', 'url': '...
47    {'id': '2838949', 'name': 'Эстилаб Рус', 'url'...
48    {'id': '3823903', 'name': 'Aramco Innovations'...
49    {'id': '2870783', 'name': 'LATOKEN', 'url': 'h...
Name: employer, dtype: object
0     3034828.0
1     1110684.0
2        1740.0
3     1217313.0
4        6041.0
5        2393.0
6       27937.0
7     2883040.0
8        9281.0
9        4219.0
10     689584.0
11       1149.0
12     976061.0
13      39305.0
14        599.0
15       2748.0
16    1304253.0
17    1304253.0
18     780623.0
19     780623.0
20     149094.0
21       3095.0
22     633069.0
23      37881.0
24      37881.0
25    3935621.0
26     149094.0
27      41862.0
28     665470.0
29      78638.0
30     928036.0
31    2898081.0
32       7643.0
33       2523.0
34    1141611.0
35    1141611.0
36      39347.0
37       6591.0
38        599.0
39        599.0
40        566.0
41    1147526.0
42    3129027.0
43    3093773.0
44       8582.0
45     815269.0
46     129044.0
47    2565797.0
48    3818429.0
49    1174042.0
Name: employer_id, dtype: float64
0                                      Смарт консалтинг
1                                          Vigrom Corp.
2                                                Яндекс
3                                        МегаФон Ритейл
4                                    Северсталь, Москва
5                      Программный Продукт, ИТ-компания
6                                      Align Technology
7                           Калинкова Алена Анатольевна
8                                             JetBrains
9                                                 Tele2
10                                          Воентелеком
11                                            ЛОКО-БАНК
12                                              Altenar
13                                        Газпром нефть
14             РОСБАНК, Societe Generale Group (Russia)
15                                           Ростелеком
16                                         Changellenge
17                                         Changellenge
18                                                ZiMAD
19                                                ZiMAD
20                              Алютех, Группа компаний
21                                     Инфосистемы Джет
22                                             Selectel
23                                   Тритон-ЭлектроникС
24                                   Тритон-ЭлектроникС
25                                        Север Телеком
26                              Алютех, Группа компаний
27                                           СКБ Контур
28                                         Открытый код
29                                             Тинькофф
30                                             ManyChat
31                                         TR Logic LLC
32                                         Ingram Micro
33                                    М.Видео-Эльдорадо
34                                             Айклиник
35                                             Айклиник
36                                             Киномакс
37                                        Промсвязьбанк
38             РОСБАНК, Societe Generale Group (Russia)
39             РОСБАНК, Societe Generale Group (Russia)
40                                     OCS Distribution
41                                                Эквид
42                    Центр финансовых технологий Базис
43                                     Гарда Технологии
44                                         Леруа Мерлен
45                                                Wrike
46                                           1C-Битрикс
47                                   БиАйЭй-Технолоджиз
48                                        CT Consulting
49    PVH (Tommy Hilfiger, Calvin Klein & Heritage b...
Name: employer_name, dtype: object

KeyError: 'id'

In [60]:
# all columns that not mentioned are dropped

# 'premium' - don't change
# 'name' - don't change
# 'department' - take id and name (from 2024) and department_id and department_name (from 2020)
# 'has_test' - don't change
# 'response_letter_required' - don't change
# 'area' - get only id and name (from j2024) and area_id and area_name (from 2020)
# 'salary' - get all columns (from 2024) and salary_from, salary_to, salary_currency, salary_gross (from 2020)
# 'type' - get only id (from 2024) and type_id (from 2020)
# 'address' - reformat to get only bool value if it's not null for 2024 and drop for 2020, adding a new column 'is_address' with the bool value
# 'published_at' - don't change
# 'archived' - don't change
# 'insider_interview' - reformat to get only bool value if it's not null for 2024 and drop for 2020, adding a new column 'is_insider_interview' with the bool value


adjusted_2020 = vacancies_2020[['premium', 'name', 'department_id', 'department_name', 'area_id', 'area_name', 'has_test', 'response_letter_required', 'salary_from', 'salary_to', 'salary_currency', 'salary_gross', 'type_id', 'address_city', 'published_at', 'archived', 'insider_interview', 'employer_id', 'employer_name']]
adjusted_2024 = vacancies_2024[['premium', 'name', 'department', 'area', 'has_test', 'response_letter_required', 'salary', 'type', 'address', 'published_at', 'archived', 'insider_interview', 'employer']]

def get_columns_from_json(df, column_name, needed_columns):
    df[column_name] = df[column_name].apply(lambda x: eval(x) if pd.notnull(x) else x)
    for i, column in enumerate(needed_columns):
        df[f'{column_name}_{column}'] = df[column_name].apply(lambda x: x[column] if pd.notnull(x) else x)
    df = df.drop(columns=[column_name])
    return df

adjusted_2024 = get_columns_from_json(adjusted_2024, 'department', ['id', 'name'])
adjusted_2024 = get_columns_from_json(adjusted_2024, 'area', ['id', 'name'])
adjusted_2024 = get_columns_from_json(adjusted_2024, 'salary', ['from', 'to', 'currency', 'gross'])
adjusted_2024 = get_columns_from_json(adjusted_2024, 'type', ['id'])
adjusted_2024 = get_columns_from_json(adjusted_2024, 'employer', ['id', 'name'])

adjusted_2024['is_address'] = adjusted_2024['address'].notnull()
adjusted_2024 = adjusted_2024.drop(columns=['address'])
adjusted_2020['is_address'] = adjusted_2020['address_city'].notnull()
adjusted_2020 = adjusted_2020.drop(columns=['address_city'])
adjusted_2024['is_insider_interview'] = adjusted_2024['insider_interview'].notnull()
adjusted_2024 = adjusted_2024.drop(columns=['insider_interview'])
adjusted_2020['is_insider_interview'] = adjusted_2020['insider_interview'].notnull()
adjusted_2020 = adjusted_2020.drop(columns=['insider_interview'])

print(adjusted_2024)

C:\Users\Bod\AppData\Local\Temp\ipykernel_12344\1461853561.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].apply(lambda x: eval(x) if pd.notnull(x) else x)
C:\Users\Bod\AppData\Local\Temp\ipykernel_12344\1461853561.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{column_name}_{column}'] = df[column_name].apply(lambda x: x[column] if pd.notnull(x) else x)
C:\Users\Bod\AppData\Local\Temp\ipykernel_12344\1461853561.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{column_name}_{column}'] = df[column_name].apply(lambda x: x[column] if pd.notnull(x) else x)

KeyError: 'id'