In [1]:
import pandas as pd

In [3]:
df20 = pd.read_csv('data/adjusted_vacancies_2020.csv')
df20.head()

,premium,name,department_id,department_name,area_id,area_name,has_test,response_letter_required,salary_from,salary_to,salary_currency,salary_gross,type_id,employer_name,schedule_id,experience_id,employment_id,is_address,is_insider_interview
0,False,Team Lead/Senior Data Scientist,NaN,NaN,3,Екатеринбург,False,False,NaN,NaN,NaN,NaN,open,СКБ Контур,fullDay,moreThan6,full,True,False
1,False,Team Lead/Senior Data Scientist,NaN,NaN,2,Санкт-Петербург,False,False,NaN,NaN,NaN,NaN,open,СКБ Контур,fullDay,moreThan6,full,False,False
2,False,Team Lead/Senior Data Scientist,NaN,NaN,1,Москва,False,False,NaN,NaN,NaN,NaN,open,СКБ Контур,fullDay,moreThan6,full,False,False
3,False,Team Lead/Senior Data Analyst. Аналитик данных,3529-3529-prof,Сбер для экспертов,3,Екатеринбург,False,False,NaN,NaN,NaN,NaN,open,Сбербанк,fullDay,between1And3,full,False,False
4,False,Data scientist (NLP) - Sberbank AI Lab,3529-3529-prof,Сбер для экспертов,1,Москва,False,False,NaN,NaN,NaN,NaN,open,Сбербанк,fullDay,between1And3,full,False,False

In [4]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   premium                   997 non-null    bool
 1   name                      997 non-null    object
 2   department_id             189 non-null    object
 3   department_name           189 non-null    object
 4   area_id                   997 non-null    int64
 5   area_name                 997 non-null    object
 6   has_test                  997 non-null    bool
 7   response_letter_required  997 non-null    bool
 8   salary_from               123 non-null    float64
 9   salary_to                 95 non-null     float64
 10  salary_currency           157 non-null    object
 11  salary_gross              157 non-null    object
 12  type_id                   997 non-null    object
 13  employer_name             997 non-null    object
 14  schedule_id               997 non-null    object
 15  experience_id             997 non-null    object
 16  employment_id             997 non-null    object
 17  is_address                997 non-null    bool
 18  is_insider_interview      997 non-null    bool
dtypes: bool(5), float64(2), int64(1), object(11)
memory usage: 114.0+ KB

In [5]:
df24 = pd.read_csv('data/adjusted_vacancies_2024.csv')
df24.head()

,premium,name,has_test,response_letter_required,department_id,department_name,area_id,area_name,salary_from,salary_to,salary_currency,salary_gross,type_id,employer_name,schedule_id,experience_id,employment_id,is_address,is_insider_interview
0,False,Junior Data Scientist,False,False,NaN,NaN,74,Польша,NaN,NaN,NaN,NaN,open,HIRE5 INC,remote,between1And3,full,False,False
1,False,Junior Data Scientist,False,False,NaN,NaN,146,Сербия,NaN,NaN,NaN,NaN,open,HIRE5 INC,remote,between1And3,full,False,False
2,False,Junior Data Engineer,False,False,NaN,NaN,13,Армения,NaN,900.0,EUR,True,open,AppQuantum,fullDay,between1And3,full,False,False
3,False,Junior Data Scientist,False,False,NaN,NaN,13,Армения,NaN,NaN,NaN,NaN,open,HIRE5 INC,remote,between1And3,full,False,False
4,False,"Разработчик операций AI, Python/React (Удаленн...",False,False,NaN,NaN,146,Сербия,NaN,NaN,NaN,NaN,open,LATOKEN,remote,noExperience,full,False,False

In [6]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2289 entries, 0 to 2288
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   premium                   2289 non-null   bool
 1   name                      2289 non-null   object
 2   has_test                  2289 non-null   bool
 3   response_letter_required  2289 non-null   bool
 4   department_id             617 non-null    object
 5   department_name           617 non-null    object
 6   area_id                   2289 non-null   int64
 7   area_name                 2289 non-null   object
 8   salary_from               403 non-null    float64
 9   salary_to                 275 non-null    float64
 10  salary_currency           475 non-null    object
 11  salary_gross              475 non-null    object
 12  type_id                   2289 non-null   object
 13  employer_name             2289 non-null   object
 14  schedule_id               2289 non-null   object
 15  experience_id             2289 non-null   object
 16  employment_id             2289 non-null   object
 17  is_address                2289 non-null   bool
 18  is_insider_interview      2289 non-null   bool
dtypes: bool(5), float64(2), int64(1), object(11)
memory usage: 261.7+ KB

In [7]:
# plot two plots on the same figure for 2020 and 2024 with histogram for area
import matplotlib.pyplot as plt
import seaborn as sns