In [54]:
import requests
import pandas as pd

number_of_pages = 11
#number_of_ads = number_of_pages * per_page
# Грузия: 37,28, Казахстан: 106, 40, Беларусь: 45,16, Азербайджан: 4, 9, Кыргызстан: 10,48,  Узбекистан: 43,97, Другие регионы: 58, 1001

job_title = ["'Data scientist' or 'Data analyst' or 'ML' or 'AI' or 'Machine Learning' or 'Artificial Intelligence' or 'Аналитик данных' or 'Data Engineer' or 'Инженер данных' or 'Reinforcement learning' or 'Аналитик-исследователь' or 'Нейросеть' or 'Искусственный интеллект' or 'Машинное обучение'"]
areas = [1001]
for job in job_title:
    for area in areas:
        data=[]
        for i in range(number_of_pages):
            url = 'https://api.hh.ru/vacancies'
            par = {'text': job, 'area':area,'per_page':'5', 'page':i, 'search_field':'name'}
            r = requests.get(url, params=par)
            e=r.json()
            data.append(e)
            vacancy_details = data[0]['items'][0].keys()
            df = pd.DataFrame(columns= list(vacancy_details))
            ind = 0
            for i in range(len(data)):
                for j in range(len(data[i]['items'])):
                    df.loc[ind] = data[i]['items'][j]
                    ind+=1
        csv_name = str(area)+".csv"
        df.to_csv(csv_name)

In [62]:
# parse all csv files from data_by_countries folder and concatenate them into one dataframe
import pandas as pd
import glob

path = r'data_by_countries' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
frame = pd.concat(li, axis=0, ignore_index=True)
frame.to_csv("all_data.csv")

In [63]:
data = pd.read_csv("all_data.csv")
data.head(10)

,Unnamed: 0.1,Unnamed: 0,id,premium,name,department,has_test,response_letter_required,area,salary,...,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment,adv_response_url,is_adv_vacancy,adv_context,show_logo_in_search
0,0,0,93953781,False,Junior Data Scientist,NaN,False,False,"{'id': '74', 'name': 'Польша', 'url': 'https:/...",NaN,...,[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
1,1,1,93953782,False,Junior Data Scientist,NaN,False,False,"{'id': '146', 'name': 'Сербия', 'url': 'https:...",NaN,...,[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
2,2,2,92770845,False,Junior Data Engineer,NaN,False,False,"{'id': '13', 'name': 'Армения', 'url': 'https:...","{'from': None, 'to': 900, 'currency': 'EUR', '...",...,[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
3,3,3,93953780,False,Junior Data Scientist,NaN,False,False,"{'id': '13', 'name': 'Армения', 'url': 'https:...",NaN,...,[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
4,4,4,94019232,False,"Разработчик операций AI, Python/React (Удаленн...",NaN,False,False,"{'id': '146', 'name': 'Сербия', 'url': 'https:...",NaN,...,[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
5,5,5,94137061,False,Data Engineer for Swedish automotive company,NaN,False,False,"{'id': '149', 'name': 'Швеция', 'url': 'https:...","{'from': 4300, 'to': 5100, 'currency': 'USD', ...",...,[],False,"[{'id': '96', 'name': 'Программист, разработчи...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
6,6,6,93360510,False,Data Engineer (Remote),NaN,False,False,"{'id': '109', 'name': 'Эстония', 'url': 'https...","{'from': 3000, 'to': None, 'currency': 'EUR', ...",...,[],False,"[{'id': '156', 'name': 'BI-аналитик, аналитик ...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
7,7,7,93308666,False,Data Analyst,NaN,False,False,"{'id': '146', 'name': 'Сербия', 'url': 'https:...",NaN,...,[],False,"[{'id': '156', 'name': 'BI-аналитик, аналитик ...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
8,8,8,93301944,False,Data Analyst (Middle/Middle+),NaN,False,False,"{'id': '146', 'name': 'Сербия', 'url': 'https:...",NaN,...,[],False,"[{'id': '10', 'name': 'Аналитик'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN
9,9,9,93293929,False,Data Scientist (uplift),NaN,False,False,"{'id': '146', 'name': 'Сербия', 'url': 'https:...",NaN,...,[],False,"[{'id': '165', 'name': 'Дата-сайентист'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",NaN,False,NaN,NaN

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2289 entries, 0 to 2288
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0.1               2289 non-null   int64
 1   Unnamed: 0                 2289 non-null   int64
 2   id                         2289 non-null   int64
 3   premium                    2289 non-null   bool
 4   name                       2289 non-null   object
 5   department                 617 non-null    object
 6   has_test                   2289 non-null   bool
 7   response_letter_required   2289 non-null   bool
 8   area                       2289 non-null   object
 9   salary                     475 non-null    object
 10  type                       2289 non-null   object
 11  address                    931 non-null    object
 12  response_url               1 non-null      object
 13  sort_point_distance        0 non-null      float64
 14  published_at               2289 non-null   object
 15  created_at                 2289 non-null   object
 16  archived                   2289 non-null   bool
 17  apply_alternate_url        2289 non-null   object
 18  insider_interview          148 non-null    object
 19  url                        2289 non-null   object
 20  alternate_url              2289 non-null   object
 21  relations                  2289 non-null   object
 22  employer                   2289 non-null   object
 23  snippet                    2289 non-null   object
 24  contacts                   0 non-null      float64
 25  schedule                   2289 non-null   object
 26  working_days               2289 non-null   object
 27  working_time_intervals     2289 non-null   object
 28  working_time_modes         2289 non-null   object
 29  accept_temporary           2289 non-null   bool
 30  professional_roles         2289 non-null   object
 31  accept_incomplete_resumes  2289 non-null   bool
 32  experience                 2289 non-null   object
 33  employment                 2289 non-null   object
 34  adv_response_url           0 non-null      float64
 35  is_adv_vacancy             2289 non-null   bool
 36  adv_context                0 non-null      float64
 37  show_logo_in_search        1128 non-null   object
dtypes: bool(7), float64(4), int64(3), object(24)
memory usage: 570.1+ KB