In [4]:
# TODO data from previous year(s), to be cleaned and preprocessed
# how to process faster?
# how to add to git with batches?
# how to collaborate on huggingface?

,id,description,key_skills,schedule_id,schedule_name,accept_handicapped,accept_kids,experience_id,experience_name,specializations,...,address_lng,alternate_url,apply_alternate_url,code,department_id,department_name,employment_id,employment_name,prof_classes_found,terms_found
0,30711158,<p><strong>О Компании</strong></p> <p>Мы помог...,NaN,fullDay,Полный день,False,False,between1And3,От 1 года до 3 лет,1.117 Тестирование 1 Информационные технологии...,...,82.930086,https://hh.ru/vacancy/30711158,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,tester,jmeter спринт тестировщик continuous_integrati...
1,30711538,<p><strong>Vigrom</strong> сегодня – междунаро...,PHP\nSQL\nООП\nPostgreSQL\nMemcached\nSymfony\...,fullDay,Полный день,False,False,between1And3,От 1 года до 3 лет,"1.221 Программирование, Разработка 1 Информаци...",...,45.005847,https://hh.ru/vacancy/30711538,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,programmer,современный_офис memcache team phpunit php арх...
2,30713109,<p>Каждый день миллионы пользователей находят ...,NaN,remote,Удаленная работа,True,False,noExperience,Нет опыта,4.278 Сотрудник call-центра 4 Административный...,...,NaN,https://hh.ru/vacancy/30713109,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,part,Частичная занятость,operator,яндекс windows_7 гибкий_график
3,30714567,<p><strong>В твоих руках - отличная возможност...,NaN,fullDay,Полный день,False,False,noExperience,Нет опыта,"17.269 Телекоммуникации, Сетевые решения 17 Пр...",...,61.401188,https://hh.ru/vacancy/30714567,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,prodajnik,медицинская_страховка официальное_трудоустройс...
4,30716168,<p><strong>Компания «Северсталь-Инфоком» - цен...,Bash\nPowerShell\nC++\nC#\nJava\nPerl\nPython\...,fullDay,Полный день,False,False,between1And3,От 1 года до 3 лет,"1.221 Программирование, Разработка 1 Информаци...",...,37.877356,https://hh.ru/vacancy/30716168,https://hh.ru/applicant/vacancy_response?vacan...,NaN,severstal-6041-it,Северсталь. ИТ Компания,full,Полная занятость,consultant,bash team c# perl английский_язык тестирование...
5,12768204,<p><strong>Что придется делать:</strong></p> <...,NaN,fullDay,Полный день,False,False,between1And3,От 1 года до 3 лет,"1.221 Программирование, Разработка 1 Информаци...",...,37.504789,https://hh.ru/vacancy/12768204,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,analyst,желание_развиваться высшее_образование team на...
6,31362372,"<p><strong>Ищем Java разработчика, Senior/Expe...",Java\nSpring Framework\nArchitecture\nAmazon\n...,fullDay,Полный день,False,False,moreThan6,Более 6 лет,"1.221 Программирование, Разработка 1 Информаци...",...,37.623645,https://hh.ru/vacancy/31362372,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,programmer,amazon security team java_se agile servers oau...
7,31363536,<p>Программист 1С (участие в проекте)</p> <p><...,NaN,fullDay,Полный день,False,False,noExperience,Нет опыта,"1.221 Программирование, Разработка 1 Информаци...",...,NaN,https://hh.ru/vacancy/31363536,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,programmer,1c комфортный_офис дружный_коллектив site опыт...
8,31364469,<p>IntelliJ IDEA appeared on the market for Ja...,NaN,fullDay,Полный день,False,False,between3And6,От 3 до 6 лет,"1.221 Программирование, Разработка 1 Информаци...",...,NaN,https://hh.ru/vacancy/31364469,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,programmer,php архитектура opengl snacks unix software_en...
9,31364508,<p><strong>Инженер по эксплуатации и планирова...,NaN,fullDay,Полный день,False,False,between1And3,От 1 года до 3 лет,"1.82 Инженер 1 Информационные технологии, инте...",...,NaN,https://hh.ru/vacancy/31364508,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,NaN,full,Полная занятость,engineer,power_point страховка network ms_excel ms_word...

In [ ]:
import pandas as pd

# data from previous year(s), to be cleaned and preprocessed
# how to process faster?
# how to add to git with batches?
df = pd.read_csv('data/vacancies_2020.csv')
df.head(10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587637 entries, 0 to 587636
Data columns (total 56 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         587637 non-null  int64
 1   description                587637 non-null  object
 2   key_skills                 431738 non-null  object
 3   schedule_id                587637 non-null  object
 4   schedule_name              587637 non-null  object
 5   accept_handicapped         587637 non-null  bool
 6   accept_kids                587637 non-null  bool
 7   experience_id              587637 non-null  object
 8   experience_name            587637 non-null  object
 9   specializations            587637 non-null  object
 10  contacts                   12130 non-null   object
 11  billing_type_id            587637 non-null  object
 12  billing_type_name          587637 non-null  object
 13  allow_messages             587637 non-null  bool
 14  premium                    587637 non-null  bool
 15  driver_license_types       1749 non-null    object
 16  accept_incomplete_resumes  587637 non-null  bool
 17  employer_id                586477 non-null  float64
 18  employer_name              587637 non-null  object
 19  employer_vacancies_url     586477 non-null  object
 20  employer_trusted           586477 non-null  object
 21  employer_alternate_url     586477 non-null  object
 22  employer_industries        473202 non-null  object
 23  response_letter_required   587637 non-null  bool
 24  type_id                    587637 non-null  object
 25  type_name                  587637 non-null  object
 26  has_test                   587637 non-null  bool
 27  response_url               757 non-null     object
 28  test_required              2948 non-null    object
 29  salary_from                258741 non-null  float64
 30  salary_to                  164509 non-null  float64
 31  salary_gross               284072 non-null  object
 32  salary_currency            285014 non-null  object
 33  archived                   587637 non-null  bool
 34  name                       587637 non-null  object
 35  insider_interview          6570 non-null    object
 36  area_id                    587637 non-null  int64
 37  area_name                  587637 non-null  object
 38  area_url                   587637 non-null  object
 39  created_at                 587637 non-null  object
 40  published_at               587637 non-null  object
 41  address_city               276688 non-null  object
 42  address_street             271467 non-null  object
 43  address_building           262952 non-null  object
 44  address_description        0 non-null       float64
 45  address_lat                278728 non-null  float64
 46  address_lng                278728 non-null  float64
 47  alternate_url              587637 non-null  object
 48  apply_alternate_url        587637 non-null  object
 49  code                       6673 non-null    object
 50  department_id              39413 non-null   object
 51  department_name            39413 non-null   object
 52  employment_id              587637 non-null  object
 53  employment_name            587637 non-null  object
 54  prof_classes_found         576794 non-null  object
 55  terms_found                583826 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 219.7+ MB

In [14]:
# prof_classes_found has null values
# clean the data
df = df.dropna(subset=['prof_classes_found'])

In [20]:
# take the dataset where name has "data" or "analytic" in it
# name, prof_classes_found
# vac = df[df['name'].str.contains('data', case=False)]

vac = df[df['name'].str.contains('data', case=False) | df['name'].str.contains('analytic', case=False)
| df['name'].str.contains('аналитик', case=False)]

# prof_classes_found=analyst
vac2 = df[df['prof_classes_found'].str.contains('analyst', case=False)]

vac3 = df[df['name'].str.contains('data scientist', case=False)]

In [21]:
vac.info()
vac2.info()
vac3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41256 entries, 5 to 587632
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         41256 non-null  int64
 1   description                41256 non-null  object
 2   key_skills                 30340 non-null  object
 3   schedule_id                41256 non-null  object
 4   schedule_name              41256 non-null  object
 5   accept_handicapped         41256 non-null  bool
 6   accept_kids                41256 non-null  bool
 7   experience_id              41256 non-null  object
 8   experience_name            41256 non-null  object
 9   specializations            41256 non-null  object
 10  contacts                   749 non-null    object
 11  billing_type_id            41256 non-null  object
 12  billing_type_name          41256 non-null  object
 13  allow_messages             41256 non-null  bool
 14  premium                    41256 non-null  bool
 15  driver_license_types       1 non-null      object
 16  accept_incomplete_resumes  41256 non-null  bool
 17  employer_id                41189 non-null  float64
 18  employer_name              41256 non-null  object
 19  employer_vacancies_url     41189 non-null  object
 20  employer_trusted           41189 non-null  object
 21  employer_alternate_url     41189 non-null  object
 22  employer_industries        35853 non-null  object
 23  response_letter_required   41256 non-null  bool
 24  type_id                    41256 non-null  object
 25  type_name                  41256 non-null  object
 26  has_test                   41256 non-null  bool
 27  response_url               27 non-null     object
 28  test_required              178 non-null    object
 29  salary_from                8679 non-null   float64
 30  salary_to                  6163 non-null   float64
 31  salary_gross               10169 non-null  object
 32  salary_currency            10191 non-null  object
 33  archived                   41256 non-null  bool
 34  name                       41256 non-null  object
 35  insider_interview          368 non-null    object
 36  area_id                    41256 non-null  int64
 37  area_name                  41256 non-null  object
 38  area_url                   41256 non-null  object
 39  created_at                 41256 non-null  object
 40  published_at               41256 non-null  object
 41  address_city               19028 non-null  object
 42  address_street             18715 non-null  object
 43  address_building           18149 non-null  object
 44  address_description        0 non-null      float64
 45  address_lat                19192 non-null  float64
 46  address_lng                19192 non-null  float64
 47  alternate_url              41256 non-null  object
 48  apply_alternate_url        41256 non-null  object
 49  code                       466 non-null    object
 50  department_id              5166 non-null   object
 51  department_name            5166 non-null   object
 52  employment_id              41256 non-null  object
 53  employment_name            41256 non-null  object
 54  prof_classes_found         41256 non-null  object
 55  terms_found                41253 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 15.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 38537 entries, 5 to 587627
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         38537 non-null  int64
 1   description                38537 non-null  object
 2   key_skills                 28464 non-null  object
 3   schedule_id                38537 non-null  object
 4   schedule_name              38537 non-null  object
 5   accept_handicapped         38537 non-null  bool
 6   accept_kids                38537 non-null  bool
 7   experience_id              38537 non-null  object
 8   experience_name            38537 non-null  object
 9   specializations            38537 non-null  object
 10  contacts                   691 non-null    object
 11  billing_type_id            38537 non-null  object
 12  billing_type_name          38537 non-null  object
 13  allow_messages             38537 non-null  bool
 14  premium                    38537 non-null  bool
 15  driver_license_types       1 non-null      object
 16  accept_incomplete_resumes  38537 non-null  bool
 17  employer_id                38472 non-null  float64
 18  employer_name              38537 non-null  object
 19  employer_vacancies_url     38472 non-null  object
 20  employer_trusted           38472 non-null  object
 21  employer_alternate_url     38472 non-null  object
 22  employer_industries        33493 non-null  object
 23  response_letter_required   38537 non-null  bool
 24  type_id                    38537 non-null  object
 25  type_name                  38537 non-null  object
 26  has_test                   38537 non-null  bool
 27  response_url               29 non-null     object
 28  test_required              171 non-null    object
 29  salary_from                8215 non-null   float64
 30  salary_to                  5833 non-null   float64
 31  salary_gross               9635 non-null   object
 32  salary_currency            9661 non-null   object
 33  archived                   38537 non-null  bool
 34  name                       38537 non-null  object
 35  insider_interview          276 non-null    object
 36  area_id                    38537 non-null  int64
 37  area_name                  38537 non-null  object
 38  area_url                   38537 non-null  object
 39  created_at                 38537 non-null  object
 40  published_at               38537 non-null  object
 41  address_city               18026 non-null  object
 42  address_street             17695 non-null  object
 43  address_building           17167 non-null  object
 44  address_description        0 non-null      float64
 45  address_lat                18190 non-null  float64
 46  address_lng                18190 non-null  float64
 47  alternate_url              38537 non-null  object
 48  apply_alternate_url        38537 non-null  object
 49  code                       446 non-null    object
 50  department_id              4113 non-null   object
 51  department_name            4113 non-null   object
 52  employment_id              38537 non-null  object
 53  employment_name            38537 non-null  object
 54  prof_classes_found         38537 non-null  object
 55  terms_found                38522 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 14.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 2077 entries, 380 to 587632
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         2077 non-null   int64
 1   description                2077 non-null   object
 2   key_skills                 1462 non-null   object
 3   schedule_id                2077 non-null   object
 4   schedule_name              2077 non-null   object
 5   accept_handicapped         2077 non-null   bool
 6   accept_kids                2077 non-null   bool
 7   experience_id              2077 non-null   object
 8   experience_name            2077 non-null   object
 9   specializations            2077 non-null   object
 10  contacts                   19 non-null     object
 11  billing_type_id            2077 non-null   object
 12  billing_type_name          2077 non-null   object
 13  allow_messages             2077 non-null   bool
 14  premium                    2077 non-null   bool
 15  driver_license_types       0 non-null      object
 16  accept_incomplete_resumes  2077 non-null   bool
 17  employer_id                2076 non-null   float64
 18  employer_name              2077 non-null   object
 19  employer_vacancies_url     2076 non-null   object
 20  employer_trusted           2076 non-null   object
 21  employer_alternate_url     2076 non-null   object
 22  employer_industries        1800 non-null   object
 23  response_letter_required   2077 non-null   bool
 24  type_id                    2077 non-null   object
 25  type_name                  2077 non-null   object
 26  has_test                   2077 non-null   bool
 27  response_url               4 non-null      object
 28  test_required              5 non-null      object
 29  salary_from                287 non-null    float64
 30  salary_to                  237 non-null    float64
 31  salary_gross               354 non-null    object
 32  salary_currency            354 non-null    object
 33  archived                   2077 non-null   bool
 34  name                       2077 non-null   object
 35  insider_interview          10 non-null     object
 36  area_id                    2077 non-null   int64
 37  area_name                  2077 non-null   object
 38  area_url                   2077 non-null   object
 39  created_at                 2077 non-null   object
 40  published_at               2077 non-null   object
 41  address_city               853 non-null    object
 42  address_street             825 non-null    object
 43  address_building           806 non-null    object
 44  address_description        0 non-null      float64
 45  address_lat                856 non-null    float64
 46  address_lng                856 non-null    float64
 47  alternate_url              2077 non-null   object
 48  apply_alternate_url        2077 non-null   object
 49  code                       17 non-null     object
 50  department_id              492 non-null    object
 51  department_name            492 non-null    object
 52  employment_id              2077 non-null   object
 53  employment_name            2077 non-null   object
 54  prof_classes_found         2077 non-null   object
 55  terms_found                2077 non-null   object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 811.3+ KB

In [22]:
# output 50 first rows name column
vac['name'].head(50)

5                                     Аналитик / Analyst
22                                 Старший дата-аналитик
36                            Аналитик отдела маркетинга
39                        Системный аналитик (внедрение)
67                                          Аналитик ЦФТ
74                                    Системный аналитик
79     Системный инженер базы данных / Database syste...
92     Business Development Manager (Data Storage Sys...
112                      Аналитик (на тарифообразование)
153                                          Аналитик BI
198                                          BI-аналитик
199       Ведущий бизнес-аналитик / Руководитель проекта
235               Аналитик Дивизион 'Платежи и переводы'
242                     Аналитик разговорных интерфейсов
265                          Аналитик (банковская сфера)
274         Аналитик 1С ИТИЛ. Фриланс. Проектная работа.
281                                         Data analyst
292             Системный-аналитик мобильного приложения
304                                   Системный аналитик
343          BI аналитик / Business Intelligence analyst
344                      Ведущий аналитик со знанием SQL
347                  Младший специалист группы аналитики
380                                       Data Scientist
394                     Senior BigData Engineer, Fintech
398                Менеджер по HR отчетности и аналитике
412                                   Системный аналитик
424                                      Аналитик-стажер
427    Вирусный аналитик в группу поддержки MDR серви...
428                                   Системный аналитик
442    Риск-технолог/Главный аналитик стратегий приня...
445     Аналитик группы разработки моделей оценки рисков
458    Старший аналитик баз данных Аналитического упр...
460                               Аналитик отдела продаж
461                               Аналитик отдела продаж
462    Системный аналитик ДБО (в команду Digital omni...
466               Бизнес-аналитик (Международный бизнес)
469        Аналитик баз данных Аналитического управления
474                               Аналитик отдела продаж
482        Аналитик хранилища данных Банка / Аналитик BI
518    Data Scientist sas Sber (Дивизион `Массовая пе...
526                                   Системный аналитик
552    Ведущий аналитик эффективности рекламных кампаний
554                    Team Leader of DevOps (Analytics)
559    Ведущий специалист (аналитик) Отдела управлени...
603           Бизнес-аналитик в ИТ компанию Первая Форма
620                BigData Developer, Media Conglomerate
661                                      Бизнес-аналитик
662                                 Продуктовый аналитик
666       Старший аналитик в отдел продуктовой аналитики
668                   Big Data Engineer (Java/Scala/AWS)
Name: name, dtype: object

In [23]:
vac2['name'].head(50)

5                                     Аналитик / Analyst
22                                 Старший дата-аналитик
36                            Аналитик отдела маркетинга
39                        Системный аналитик (внедрение)
51                    Business Analyst/Junior Consultant
67                                          Аналитик ЦФТ
74                                    Системный аналитик
87                  Malware Analyst for Imunify Security
91                  Malware Analyst for Imunify Security
96                  Malware Analyst for Imunify Security
112                      Аналитик (на тарифообразование)
153                                          Аналитик BI
186                                       System Analyst
198                                          BI-аналитик
199       Ведущий бизнес-аналитик / Руководитель проекта
235               Аналитик Дивизион 'Платежи и переводы'
242                     Аналитик разговорных интерфейсов
265                          Аналитик (банковская сфера)
274         Аналитик 1С ИТИЛ. Фриланс. Проектная работа.
281                                         Data analyst
292             Системный-аналитик мобильного приложения
304                                   Системный аналитик
343          BI аналитик / Business Intelligence analyst
344                      Ведущий аналитик со знанием SQL
347                  Младший специалист группы аналитики
363                             Аналітик бізнес-процесів
389    Провідний аналітик відділу аналізу даних комер...
398                Менеджер по HR отчетности и аналитике
412                                   Системный аналитик
424                                      Аналитик-стажер
427    Вирусный аналитик в группу поддержки MDR серви...
428                                   Системный аналитик
442    Риск-технолог/Главный аналитик стратегий приня...
445     Аналитик группы разработки моделей оценки рисков
458    Старший аналитик баз данных Аналитического упр...
460                               Аналитик отдела продаж
461                               Аналитик отдела продаж
462    Системный аналитик ДБО (в команду Digital omni...
466               Бизнес-аналитик (Международный бизнес)
469        Аналитик баз данных Аналитического управления
472    Senior Product Marketing Analyst & Pre-Sale Ex...
474                               Аналитик отдела продаж
482        Аналитик хранилища данных Банка / Аналитик BI
526                                   Системный аналитик
552    Ведущий аналитик эффективности рекламных кампаний
559    Ведущий специалист (аналитик) Отдела управлени...
603           Бизнес-аналитик в ИТ компанию Первая Форма
661                                      Бизнес-аналитик
662                                 Продуктовый аналитик
666       Старший аналитик в отдел продуктовой аналитики
Name: name, dtype: object

In [24]:
vac3['name'].head(50)

380                                         Data Scientist
518      Data Scientist sas Sber (Дивизион `Массовая пе...
743                               Data Scientist [id33801]
832                                Data scientist (middle)
903                    Senior Data аналитик/Data Scientist
1068                        Computer Vision Data scientist
1265                                        Data Scientist
1345        Data Scientist (Сomputer Vision) Middle/Senior
1356                        Data scientist (middle/junior)
2303                                 Senior Data Scientist
2387                       Team Lead/Senior Data Scientist
2388                       Team Lead/Senior Data Scientist
2392                       Team Lead/Senior Data Scientist
2526                Data scientist (NLP) - Sberbank AI Lab
2535               Senior Data Scientist (Computer Vision)
2956             Разработчик Python / Data Scientist (NLP)
2974                          Middle/Senior Data Scientist
3120                      Аналитик данных / Data scientist
3362                          Senior/Middle Data Scientist
3543     Data scientist / Python программист по машинно...
4717                     Python developer / data scientist
4853                                        Data Scientist
4924                       Аналитик данных, Data Scientist
4979     Data Scientist Департамента машинного обучения...
5045                            Data Scientist (Graph/NLP)
5772                                        Data Scientist
5935                                 Junior Data Scientist
6617                                        Data scientist
6721                                        Data Scientist
7417     Стажер/Специалист (Data Scientist, Группа улуч...
7924                                        Data Scientist
8163                                 Python Data Scientist
9311                          Senior Data scientist/Python
9379                    Senior Data Scientist в Anti-fraud
9720     Специалист по обработке и анализу данных (Data...
9726                      Аналитик данных (Data scientist)
10334                 Senior Data Scientist (Дивизион ЦКР)
11403           Data Scientist sas SberNBA Кредитные карты
11435                          Data Scientist in Oil & Gas
11829                                       Data Scientist
12711                                       Data Scientist
13693                                       Data Scientist
13765                                       Data Scientist
13766                                       Data Scientist
13767                                       Data Scientist
13768                                       Data Scientist
13769                                       Data Scientist
13770                                       Data Scientist
13771                                       Data Scientist
13772                                       Data Scientist
Name: name, dtype: object

In [ ]:
# TODO: fresh dataset